@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-4 category-style">
            [Category]
        </div>
        <div class="col-md-2 category-style">
            Topics: [count]
        </div>
        <div class="col-md-2 category-style">
            Posts: [count]
        </div>
        <div class="col-md-4 category-style">
            Last post in [forum name]
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 forum-style indention">
            [Forum name]
        </div>
        <div class="col-md-2 forum-style indention">
            [Count topics]
        </div>
        <div class="col-md-2 forum-style indention">
            [Count posts]
        </div>
        <div class="col-md-4 forum-style indention">
            by [Username] on [Date]
        </div>
    </div>      
</div>