a {
	color:white;
}

a:hover {
	color:orange;
	text-decoration: none;
}

a:active {
	color:orange;
	text-decoration: none;
}

a:visited {
	color:white;
	text-decoration: none;
}

a:link {
	color:orange;
	text-decoration: none;
}

.forum-cat {
	clear:both;
}

#user-panel {
	background-color: rgba(0, 0, 0, 0.8);
	color:orange;
}


.heading-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

#forum-name, #forum-descr {
	color:orange;
}
.rounded-image {
	border: 1px solid orange;
	border-radius:15px;
}

.glow-orange:hover {
	-moz-box-shadow: 0 0 5px orange;
	-webkit-box-shadow: 0 0 5px orange;
	box-shadow: 0px 0px 5px orange;
}

.glow-blue:hover {
	-moz-box-shadow: 0 0 5px dodgerblue;
	-webkit-box-shadow: 0 0 5px dodgerblue;
	box-shadow: 0px 0px 5px dodgerblue;
}

.rounded-image-logout {
	border: 1px solid dodgerblue;
	border-radius:15px;
}

.float-left {
	float:left;
}

.float-right {
	float: right;
}

#statistics {
	color:orange;
	background-color: rgba(0, 0, 0, 0.8);
}

#statistics h2 {
	color: orange;
}

#footer {
	color:orange;
	background-color: rgba(0, 0, 0, 0.8);
	text-align: center;
}